name: unit and lint tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Run unit tests
        run: go test -cover -race ./...

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
